.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.logo_img {
    background: var(--bg-gradient);
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img img {
    width: 100%;
}

.logo h2 {
    color: var(--heading-color);
    font-weight: 700;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav_item a {
    color: var(--heading-color);
    font-weight: 600;
    cursor: pointer;
    transform: 0.3s;
}

.nav_item a:hover {
    color: var(--primary-color);
}

.nav_right {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.register_btn {
    border: none;
    outline: none;
    padding: 7px 15px;
    color: #fff;
    background: var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-name);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.mobile_menu {
    color: var(--heading-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.sticky_header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
}